/* ==========================================================================
   Reset
   ========================================================================== */

   a {
	text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/**
 * Remove list-style
 */ 

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}
 
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*  Alterações Gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee
}

p {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 20px;
}

img {
    display: block;
    max-width: 100%;
}

.ajuste{
    padding: 30px 0;
}

.tituloSecao {
    margin: 27px auto;
    color: #78a109;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    background-color: #2f2f2f;
    padding: 15px 0;
    margin-bottom: 80px;
    font-family: 'montserrat' ,Helvetica,Arial,sans-serif;
}

/* Header */
.nav {
    background: #80c442;
    width: 100%;
    padding: 5px 0;
    z-index: 5;
    position: fixed;
}

.cabecalho_menu ul, .cabecalho_menu ul li{
    display: flex;
    margin-left: 35px;
}

.cabecalho_menu ul li a {
    font-size: 16px;
    color: #f2f2f2;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 10px 0;
    transition: all .5s ease;
}

.cabecalho_menu ul li a:hover {
    color: #535353;
}

/* banner */

.mySlides img{
    height: 300px;
    width: 100%;
}

.btn-banner{
    width: 100%;
    text-transform: capitalize;
    padding: 0.5rem 1.3rem;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    box-shadow: 2px 5px 4px#000;
    font-family: 'poppins';
}

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    margin-top: 60px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides:nth-of-type(1){
    display: block;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* tela de vitrine */

.btn-vitrini {
    width: 100%;
    text-transform: capitalize;
    padding: 0.5rem 1.3rem;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    background: #80c442;
    box-shadow: 2px 5px 4px #ddd;
    font-family: 'poppins';
    transition: .6s;
    border: 3px solid #80c442;
}

.btn-vitrini:hover {
    width: 85%;

    color: #80c442;
    background: #fff;
    font-family: 'poppins';
    transition: .6s;
}

.vitrine{
    overflow: hidden;
    top: 15px;
    position: relative;
}

.active-slide{
    margin-left: calc(-100vw - 80% - -22px);
}

.icons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box{
    flex: 1;
    flex-direction: column;
    padding: 15px;
    align-items: center; 
}

.box ul li{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.box ul li .ico  {
    font-size: 35px;
}


.vitrine div.cards{
    display: flex;
    width: 100vw;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.look {
    width: 80%;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    padding: 20px 0;
}

.container-vitrine {
    display: flex;
    width: 100%;   
}

.vitrine div.card {
    flex: 1 0 calc(33.33333333333333% - 14px) !important;
}

div.cards{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

div.icon {
    width: 90%;
    height: 200px;
    padding: 20px;
}

div.cards section.card img, div.cards div.card img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.cards section.card, div.cards div.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    margin-right: 20px;
    flex: 1;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

div.cards div.card:first-child{
    margin-left: 0;
}

div.cards div.card a{
    text-decoration: none;
    color: #80c442;
}

div.cards div.card h2{
    font-family: 'poppins';
    font-size: 1.7rem;
}

.descrição{
    display: flex;
    line-height: 1.2rem;
    font-size: 1rem;
    line-height: 2rem;
    max-width: 340px;
    margin-top: 15px;
}

div.cards div.card:hover{
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 30%), 0 4px 20px 0 rgb(0 0 0 / 50%);
}

.slide-controller, .slide-controller2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s ease;
}
  

/*  tela de açao */
.conteudo{  
display: flex;
justify-content: space-around;

}

.container-anuncio{
margin: 0 auto;
display: flex;
align-items: center;
padding: 10px 0; 
width: 80%;     
}

.txt-informativo{
width: 35%;
display: flex;
align-items: center;
flex-wrap: wrap;
}

.informacao{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    border: 2px solid #80c442 ;
    padding: 10px 35px ;
    font-size: 16px; 
    color:#80c442 ;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: .1em;
    transition: all .6s ease;
}
.btn:hover{
    border: 2px solid transparent;
    color: #fff;
    background: #80c442;
    transition: .6s ease;
}

.call {
    text-align: justify;
    font-style: italic;
    padding: 0.5rem
}

/* Noticias */

.btn-noticias{
    text-transform: capitalize;
    padding: 0.5rem 1.3rem;
    font-weight: 300;
    cursor: pointer;
    border: 2px solid #80c442;
    color: #fff;
    box-shadow: 2px 5px 4px #ddd;
    position: relative;
    background: #80c442;
    font-family: 'poppins';
    margin: 6px;
}

.btn-noticias:hover {
    color: #80c442;
    background-color: transparent;
    border: 2px solid #80c442;
    transition: all 0.3s ease;
    font-weight: bold;
}

.container-noticias{
    display: flex;
    width: 95%;
}

.box_navegation--item {
    border: 5px solid #eee ;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #2f2f2f;
}

.box_navegation--item:active{
    background-color: #80c442;
}

.line {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.box_navegation--item:hover {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #80c442;
}

div.cards {
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.noticias div.cards {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

div.icon {
    width: 100%;
    height: 200px;
    padding: 20px;
}

div.cards div.card img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.cards div.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    margin-right: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

div.cards div.card:hover {
    border: 3px solid #80c442;
}

.box2{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    align-items: center; 
}

div.cards section.card:first-child{
    margin-left: 0;
}

div.cards section.card a{
    text-decoration: none;
    color: #80c442;
}

div.cards section.card h2{
    font-family: 'poppins';
    font-size: 1.7rem;
}

.descrição{
    display: flex;
    line-height: 1.2rem;
    font-size: 1rem;
    line-height: 2rem;
    max-width: 340px;
    margin-top: 15px;
}

div.cards div.card:hover {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 30%), 0 4px 20px 0 rgb(0 0 0 / 50%);
}

.ultimas_not .card:last-child {
    margin-right: 0;
}

[data-active=true] {
    background-color: #80c442;
}

/* tags */
.tags {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.posicao-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tags ul li {
    display: flex;
    padding: 12px;
}

.tags ul li a{
    border: 1px solid #cecece;
    color: #80c442;
    border-radius: 15px;
    justify-content: center;
    height: 45px;
    width: 220px;
    display: flex;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 30%), 0 4px 20px 0 rgb(0 0 0 / 50%);
    align-items: center;
}

.tags ul li a:hover {
    color: #fff;
    transition: all .6s;
    transform: translateY(10px);
    background: #80c442;
    border: none;
}

/* localização */
section .ajust .localizacao{
    display: flex;
}

.localizacao{
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
}

.gmap_canvas{
    overflow: hidden;
    background: none !important;
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Footer */

div.rodape {
    display: flex;
    align-items: center;
    background: #80c442;
    justify-content: center;
}

.assinaturasRodape {
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.contato h3, .footer_redes h3 {
    font-weight: 600;
}

.contato ul li{
    font-size: 16px;
    padding: 2px;
}

.contato h3{
    padding-bottom: 5px;
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 12px;
    padding: 2px;
    
}

.footer_redes ul li a {
    /* border: 3px solid #000; */
    display: block;
    padding: 10px; 
}

.footer_redes ul li a:hover {
    display: block;
    padding: 10px;
    transition: 0.1s  ease;
    transition: all 1s ease;  
}

.footer_redes ul li {
    margin:5px;
  }
  
  .footer_redes ul li a {
    padding: 3px;
  }
  
  .footer_redes ul li a:hover {
    padding: 3px;
  }

.fa-facebook.ico{
    font-size: 35px;
    color: #3b5998;
} 

.fa-instagram.ico{
    font-size: 35px;
    color: #C13584;
}

.fa-twitter.ico{
    font-size: 35px;
    color: #00acee;
}  

/* responsividade */
@media screen and (max-width: 767px) {
div.cards{
    flex-direction: column;       
}

div.cards section.card{
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    height: 0;
} 

.txt-informativo{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px
}

/* vitrine */
.vitrine div.cards {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}   

.look {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.container-vitrine {
    display: flex;
    width: 100%;
    flex-direction: column;
}

div.cards div.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.slide-controller {
    display: none;
  }

}

@media screen and (max-width: 620px) {

    /* header */

.nav{
    position: static;
}
.cabecalho_menu ul, .cabecalho_menu ul li {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;}

    /* banner */
.container-anuncio{
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 0; 
    width: 90%;
}

    /* noticias */
.btn-noticias{
    text-transform: capitalize;
    padding: 0.5rem 1.3rem;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    position: relative;
    box-shadow: 2px 5px 4px#000;
    left: 0;
    font-family: 'poppins';
    margin: 6px;
}

    /* banner */
.slideshow-container{
    max-width: 85% !important;
}
.mySlides img, .mySlides2 img{
    height: 150px;
    width: 100%;
}

    /* Footer redes sociais */
.footer_redes ul li {
    margin:5px ;
    padding: 5px;
    padding: 10px 0;
    text-align: center;
    }
    
.footer_redes ul li a {
    padding: 3px;
    }
    
.footer_redes ul li a:hover {
    padding: 3px;
    }

    /* localização */
.maps{
    width: 350px;
    height: 250px;
    }
}

.alinhar-btn{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    justify-content: center;
    color: #fff;
}
